mixin content(data, index)
  tr.tbody__rows.rows
    td.rows__data(data-title = '名次')= index+1
    td.rows__data(data-title = '代碼')= data.number
    td.rows__data(data-title = '老師')= data.teacher
    td.rows__data(data-title = '課程名稱')= data.class
    td.rows__data(data-title = '領域')= data.field
    if data.day === ''
      td.rows__data(data-title = '時間') 線上課程
    else
      td.rows__data(data-title = '時間')= `[${data.day}]${data.time}`
    if data.persent == 0
      td.rows__data(data-title = '平均登記人數') 沒有資料
    else
      td.rows__data(data-title = '平均登記人數')= data.total
  each array in data['10501']
    each value, key in array
      if key !== 'total'
        tr.tbody__history.history
          td.history__data(colspan = '3') 10501
          td.history__data= key
          td.history__data= value
  each array in data['10502']
    each value, key in array
      if key !== 'total'
        tr.tbody__history.history
          td.history__data(colspan = '3') 10502
          td.history__data= key
          td.history__data= value
  each array in data['10601']
    each value, key in array
      if key !== 'total'
        tr.tbody__history.history
          td.history__data(colspan = '3') 10601
          td.history__data= key
          td.history__data= value
  each array in data['10602']
    each value, key in array
      if key !== 'total'
        tr.tbody__history.history
          td.history__data(colspan = '3') 10602
          td.history__data= key
          td.history__data= value
  each array in data['10701']
    each value, key in array
      if key !== 'total'
        tr.tbody__history.history
          td.history__data(colspan = '3') 10701
          td.history__data= key
          td.history__data= value

table.class
  thead
    tr.thead__rows.rows
      th.rows__data 名次
      th.rows__data 代碼
      th.rows__data 老師
      th.rows__data 課程名稱
      th.rows__data 領域
      th.rows__data 時間
      th.rows__data 歷年平均登記人數
  tbody
    each data, index in value
      +content(data, index)